body{
	background-color: #f1f1f1;
	padding-right: 100px;
	padding-left: 100px;
}

img{
	height: 80px;
	width: 300px;
}

ul{
	list-style-type: none;

}

li{
display: inline;
text-align: center;

}

nav{
	border: 1px solid grey;
	background-color: grey;
	text-align: left;
	
}

li a{
text-decoration: none;
margin: 5px;
color: white;
}



.leftside h3{
	color: red;
}



.leftside i{
	color: #999999;
}

.pleft{
	width:90%;
	float: left;
	
}

.pright{
	width:25%;
	float: right;

}
.rightside, .leftside{
	background-color: white;
	padding: 2%;
	margin-top:1%;
}

.rightside{
	margin-left: 3%;
	padding-right: 5%;
	padding-bottom: 5%

}

footer{
	background-color: grey;
	border: 1px solid grey;
	padding-left: 2%;
	margin-top: 2%;
}

footer span{
	color: red;
}

.mainclass{
	display: flex;
}


@media (max-width: 800px){
	li{
		display: block;
		text-align: center;
	}

	.rightside, .leftside{
		
		width: 100%;

	}
}
