
body {
    padding: 10px;
    background: #f1f1f1;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    border-radius: 4px 4px 4px 4px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orangered;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px 4px 4px 4px;
}

.header h3{
    color: red;
}

.rightside{
    float: left;
    width: 30%;
  }
  
.leftside{
    border: 0;
    padding: 10px;
    float: left;
    width: 68%;
  }

.footer{
    position: fixed;
    bottom: 2%;
    width: 98%;
    background-color: grey;
    color: white;
    text-align: left;
    border-radius: 4px 4px 4px 4px;
}  

span {
    color: red;
  }

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

