ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: grey;
}

li{
  float: left;
}

li a{
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li a:hover{
  background-color:orangered;
}

.rightside{
    float: left;
    width: 30%;
  }
  
  .leftside{
    float: left;
    width: 69%;
  }
