.face{
    height: 200px;
    width: 200px;
    margin-top: 200px;
    margin-left: 200px;
    position: absolute;
    border-radius: 200px;
    border: 2px solid grey;
    background: yellow;
}

.lefteye{
    height: 25px;
    width: 25px;
    position: relative;
    top: 28%;
    left: 15%;
    border-radius: 20px;
    background: black;
}

.righteye{
    height: 25px;
    width: 25px;
    position: relative;
    top: 15%;
    left: 72%;
    border-radius: 20px;
    background: black;
}

.mouth{
    height: 10px;
    width: 70px;
    position: absolute;
    top: 70%;
    left: 32%;
    border-radius: 70px;
    background: black;
}
